tmp/
data*
*.pyc
*.swp
.DS_Store
# TAPASCologne-0.24.0/
cologne.osm.xml
cologne.poly.xml
cologne2.net.xml
cologne6to8.rou.xml
.ipynb_checkpoints/

# Bastra temporary files
vehicles_trips
dump_trip_*
weights_total.xml
sumo_log
aux_map.xml
sumo_log
jam_routes.xml
jam_routes.alt.xml

